/* Write your CSS here */
.list {
  list-style-type: none;
  margin: 0px 10px 0px 10px;
}
button {
  background-color: transparent;
  color: #7b8794;
}
.selectItem {
  color: #2563eb;
  border-width: 0px 0px 2px 0px;
  border-color: #2563eb;
  font-family: 'roboto';
  font-weight: bold;
}
.item {
  color: #7b8794;
  font-family: 'roboto';
  border-width: 0px 0px 2px 0px;
  border-color: #2563eb;
  border-width: 0px;
  font-weight: 500;
}
